.subscribe {
    &__title {
        margin-bottom: 0.5rem;
    }
    &__description {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    &__form {
        display: flex;
        box-shadow: inset 0 0 2px #434A57;
        overflow: hidden;
        border-radius: 1rem;
        background-color: #fff;
    }
    input {
        padding: 1rem 2rem 1rem 1rem;
        border: none;
        background-color: transparent;
    }
    button {
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        margin-left: -2rem;
    }




    @media screen and (max-width: 575px) {
        &__description {
            font-size: 1em;
        }
    }
}