.faq {
    padding: 150px 0;
    background-color: rgba($color: #5F9CF7, $alpha: 0.1);
    &__title {
        text-align: center;
    }
    &__description {
        text-align: center;
        margin-bottom: 80px;
    }
    &__item {
        padding: 2rem;
        border-radius: 1rem;
        border: 1px solid rgba($color: #000000, $alpha: 0.2);
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        &-header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &:after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9 5.4375C12.3648 5.4375 12.775 5.84766 12.775 6.3125V7.1875C12.775 7.67969 12.3648 8.0625 11.9 8.0625H7.96247V12C7.96247 12.4922 7.55231 12.875 7.08747 12.875H6.21247C5.72028 12.875 5.33747 12.4922 5.33747 12V8.0625H1.39997C0.907783 8.0625 0.524971 7.67969 0.524971 7.1875V6.3125C0.524971 5.84766 0.907783 5.4375 1.39997 5.4375H5.33747V1.5C5.33747 1.03516 5.72028 0.625 6.21247 0.625H7.08747C7.55231 0.625 7.96247 1.03516 7.96247 1.5V5.4375H11.9Z' fill='black'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                flex-shrink: 0;
                margin-left: 2rem;
            }
        }
        &-title {
            margin-bottom: 0;
            font-size: 1rem;
        }
        &-content {
            max-height: 0;
            overflow: hidden;
            transition: all 400ms;
            font-size: 1rem;
            
        }

        &.active {
            background-color: #fff;
        }
        &.active &-content {
            max-height: 500px;
            margin-top: 1rem;
        }
        &.active &-header {
            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='13' height='4' viewBox='0 0 13 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9 0.4375C12.3648 0.4375 12.775 0.847656 12.775 1.3125V2.1875C12.775 2.67969 12.3648 3.0625 11.9 3.0625H1.39997C0.907783 3.0625 0.524971 2.67969 0.524971 2.1875V1.3125C0.524971 0.847656 0.907783 0.4375 1.39997 0.4375H11.9Z' fill='black'/%3E%3C/svg%3E%0A");
            }
        }
        
    }
    @media screen and (max-width: 1199px) {
        padding: 100px 0;
    }
    @media screen and (max-width: 991px) {
        padding: 80px 0;
        &__item {
            padding: 1.5rem;
        }
        &__title {
            margin-bottom: 1.5rem;
        }
        &__description {
            margin-bottom: 2rem;
        }
    }
    @media screen and (max-width: 767px) {
        padding: 60px 0;
    }

    @media screen and (max-width: 575px) {
        padding: 40px 0;
        &__title {
            margin-bottom: 1rem;
        }
        &__description {
            margin-bottom: 1.5rem;
        }
        &__item {
            padding: 1rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            &-title {
                font-size: 1em;
            }
            &-content {
                font-size: 1em;
            }
            &:after {
                margin-left: 1rem;
            }
        }
    }
}