.meet-team {
    &-popup {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #3d3d3d, $alpha: 0.7);
        z-index: 20;
        line-height: 100vh;
        text-align: center;
        display: none;
        overflow-y: auto;
        &.open {
            display: block;
        }
        &__inner {
            text-align: left;
            line-height: 1.5;
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 60px);
            // max-width: calc(100% - 30px);
            background-color: #fff;
            padding: 2rem;
            border-radius: 1.25rem;
            position: relative;
            margin: 2rem 0;
        }
        &__close {
            background-color: transparent;
            border: none;
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 2rem;
            z-index: 2;
            * {
                pointer-events: none;
            }
        }
    }
    &-button {
        position: absolute;
        z-index: 20;
        top: 50%;
        transform: translateY(-50%);
        color: inherit;
        &-next {
            left: calc(100% + 40px);
            right: auto;
        }
        &-prev {
            right: calc(100% + 40px);
            left: auto;
        }
    }

    @media screen and (max-width: 1399px) {
        &-button {

            &-next {
                left: calc(100%);
        
            }
            &-prev {
                right: calc(100%);
            
            }
        }
    }
    @media screen and (max-width: 1199px) {
        &-popup {
            &__inner {
                padding: 1.5rem;
            }
        }

    }
    @media screen and (max-width: 991px) {
        &-button {
            display: none;
        }
        &-popup {
            &__inner {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &-popup {
            &__inner {
                padding: 1rem;

            }
        }

    }
}



.cart-employee {
    cursor: pointer;
    &__img {
        border: 1px solid #D9DBDD;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        text-align: center;

    }
    &__name {
        margin-bottom: 0.5rem;
    }
    &__post {
        margin-bottom: 0;
        font-size: 1rem;
    }
}


.employee {
    &__title {
        margin-bottom: 0.5rem;
    }
    &__description {
        font-size: 14px;
    }
    &__post {
        font-size: 1rem
    }
    &__header {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--red);
        position: relative;
        margin-bottom: 1.5rem;
    }

    &__img {
        border: 1px solid #D9DBDD;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        text-align: center;
    }
}