.rates {
    &__inner {
        margin-bottom: 80px;
    }
    &__footer {
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    &__country {
        max-width: 405px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }
    &__row {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }
    &__item {
        width: 255px;
        padding: 2rem;
        text-align: center;
        background-color: #FF6B7D;
        color: #fff;
        border-radius: 1.25rem;
        margin: 0 12px;
        &-title {
            color: inherit;
        }
        &-value {
            color: inherit;
            &:before {
                content: "$";
            }
        }
        &-description {
            margin-bottom: 0;
            font-size: 12px;
        }
    }
    &__content {
        text-align: center;
        font-size: 1rem;
        span {
            color: #FF6B7D;
        }
    }


    @media screen and (max-width: 991px) {
        &__country {
            margin-bottom: 2rem;
        }
        &__row {
            margin-bottom: 3rem;
        }
    }

    @media screen and (max-width: 575px) {
        &__inner {
            margin-bottom: 2rem;
        }
        &__content {
            font-size: 1em;
        }
        &__country {
            margin-bottom: 1.5rem;
        }
        &__item {
            max-width: 100%;
            padding: 1rem;
            &-title {
                font-size: 20px;
            }
            &-value {
                font-size: 32px;
            }

        }
        &__row {
            margin-bottom: 2rem;
        }
    }

}